@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family:Montserrat ;
}

.small-nav{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.932);
  position: fixed;
  z-index: 1;
  background-color: white;
}

.small-nav ul{
  list-style: none;
    margin: 200px  0;
    font-size: 18px;
    text-align: center;
}

.small-nav li{
  margin: 4% 0;
  font-weight: 600;
  color: #093E9E;
}

.times{
  color: black;
  font-size: 30px;
  position: absolute;
  right: 0;
  margin: 20px;
  padding-right: 8px;
}
@media (min-width:700px) {
.small-nav{
  display: none !important;
}
  
}